body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: silver;
  margin: 0%;
}

#TopLeftImage {
  position: absolute;
  top: 0;
  left: 0;
}

#TopRightImage {
  position: absolute;
  top: 0;
  right: 0;
}

.light-mode {
  background-color: #ffffff;
  color: #333333;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
}

main {
  margin: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

#chordProgression {
  font-size: 20px;
  font-weight: bold;
}
